body{background-color: crimson;}

.title {font-size: 60px; color: darkgray;}

.subtitle {font-size: 80px; 
font-family: Georgia;
text-align: center;
color: white}

.portfolio {border-radius: 0 50px 0 50px; border: 200px black;
width: 200px;
height: 30px;}